[Desktop Entry]
# Translators: Translate as "Calligraphy"
Name[de]=Calligraphy
Name[fr]=Calligraphy
Name[oc]=Calligraphy
Name[ru]=Calligraphy
Name[tr]=Calligraphy
Name[uk]=Calligraphy
Name[hi]=Calligraphy
Name[es]=Calligraphy
Name[zh_Hans]=图表
Name[nn]=Calligraphy
Name=Calligraphy
Comment[de]=Verwandeln Sie Text in ASCII-Banner
Comment[fr]=Transformez du texte en bannières ASCII
Comment[ru]=Преобразовывает текст в ASCII баннеры
Comment[tr]=Metni ASCII bannerlara dönüştür
Comment[uk]=Перетворюйте текст у ASCII банери
Comment[hi]=पाठ को ASCII बैनर में बदलें
Comment[es]=Convierta texto en pancartas ASCII
Comment[nn]=Omstill tekst til ASCII-bannere
Comment=Turn text into ASCII banners
Exec=calligraphy
Icon=dev.geopjr.Calligraphy
Terminal=false
Type=Application
Categories=GTK;GNOME;TextTools;Utility;
# Translators: These are search terms for the application;
# the translation should contain the original list AND the translated strings.
# The list must end with a semicolon.
Keywords=ascii;convert;conversion;text;ansi;
StartupNotify=true
X-Purism-FormFactor=Workstation;Mobile;
