[Desktop Entry]
Name[ab]=Аԥшра
Name[be]=Выгляд
Name[be@latin]=Vyhlad
Name[bg]=Външен вид
Name[ca]=Aparença
Name[cs]=Vzhled
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[dz]=འབྱུང་སྣང་
Name[el]=Εμφάνιση
Name[en_GB]=Appearance
Name[en@shaw]=𐑩𐑐𐑽𐑩𐑯𐑕
Name[eo]=Aspekto
Name[es]=Apariencia
Name[eu]=Itxura
Name[fa]=ظاهر
Name[fi]=Ulkoasu
Name[fo]=Útsjónd
Name[fr]=Apparence
Name[fur]=Aspiet
Name[gl]=Aparencia
Name[he]=מראה
Name[hi]=दिखावट
Name[hr]=Izgled
Name[hu]=Megjelenés
Name[id]=Penampilan
Name[ie]=Aspecte
Name[is]=Útlit
Name[it]=Aspetto
Name[ja]=外観
Name[ka]=გარემოს იერსახე
Name[kab]=Timeẓri
Name[kk]=Сыртқы түрі
Name[ko]=모양
Name[lt]=Išvaizda
Name[lv]=Izskats
Name[mai]=प्रकटन
Name[my]=အသွင်အပြင်
Name[nb]=Utseende
Name[nds]=utsehn
Name[ne]=मोहडा
Name[nl]=Weergave
Name[nn]=Utsjånad
Name[oc]=Aparéncia
Name[pa]=ਦਿੱਖ
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ro]=Aspect
Name[ru]=Внешний вид
Name[sk]=Vzhľad
Name[sl]=Videz
Name[sq]=Paraqitja
Name[sr]=Изглед
Name[sv]=Utseende
Name[th]=รูปโฉม
Name[tr]=Görünüm
Name[uk]=Вигляд
Name[uz]=Tashqi koʻrinishi
Name[uz@cyrillic]=Ташқи кўриниши
Name[vi]=Diện mạo
Name[zh_CN]=外观
Name[zh_TW]=外觀
Name=Appearance
Comment[be]=Змяніць фонавую выяву або колеры інтэрфейсу карыстальніка
Comment[bg]=Смяна на фона и темата
Comment[ca]=Canvieu la imatge de fons o els colors de la interfície
Comment[cs]=Změnit obrázek na pozadí nebo barvy uživatelského rozhraní
Comment[da]=Skift dit baggrundsbillede eller brugergrænsefladens farver
Comment[de]=Hintergrundbild oder die Farben der Anwendungsoberflächen ändern
Comment[el]=Αλλάξτε την εικόνα παρασκηνίου ή τα χρώματα της διεπαφής
Comment[en_GB]=Change your background image or the UI colours
Comment[eo]=Ŝanĝi vian fonbildon aŭ la uzantinterfacajn kolorojn
Comment[es]=Cambiar la imagen de fondo de escritorio o los colores de la IU
Comment[eu]=Aldatu atzeko planoko irudia edo interfazearen koloreak
Comment[fa]=دگرگونی تصویر پس‌زمینه یا رنگ‌های رابط کاربریتان
Comment[fi]=Vaihda taustakuva tai käyttöliittymän värejä
Comment[fo]=Broyt tína bakmynd ella litirnir á nýtslumótinum
Comment[fr]=Changer votre image d’arrière-plan ou les couleurs de l’interface utilisateur
Comment[fur]=Cambie la imagjin di fonts o i colôrs de interface utent
Comment[gl]=Cambie a súa imaxe de fondo ou as cores da interface
Comment[he]=החלפת תמונת הרקע או צבעי ממשק המשתמש
Comment[hi]=अपनी पृष्ठभूमि छवि या UI रंग बदलें
Comment[hr]=Promijenite vašu pozadinsku sliku ili boju korisničkog sučelja
Comment[hu]=A háttérkép vagy a felhasználói felület színeinek megváltoztatása
Comment[id]=Ubah gambar latar belakang Anda atau warna antarmuka
Comment[is]=Breyttu bakgrunnsmyndinni eða litum notandaviðmótsins
Comment[it]=Cambia l'immagine di sfondo o i colori dell'interfaccia
Comment[ja]=背景画像や UI の色を変更します
Comment[ka]=შეცვალეთ ფონის სურათი ან ინტერფეისის ფერები
Comment[kk]=Фон суретін немесе интерфейс түстерін өзгерту
Comment[ko]=배경 이미지 또는 UI 색을 바꿉니다
Comment[lt]=Pakeiskite fono paveikslėlį arba sąsajos spalvas
Comment[lv]=Mainiet savu fona attēlu vai saskarnes krāsas
Comment[my]=သင့်နောက်ခံပုံ သို့မဟုတ် UI အရောင်များကို ပြောင်းလဲပါ
Comment[nb]=Bytt bakgrunn og farger på systemet
Comment[ne]=तपाईँको पृष्ठभूमि छवि वा यूआई रङ परिवर्तन गर्नुहोस्
Comment[nl]=Wijzig uw achtergrondafbeelding of de kleuren van de gebruikersinterface
Comment[oc]=Remplaçar vòstre imatge de rèireplan o la color de l’interfàcia
Comment[pa]=ਆਪਣੇ ਬੈਕਗਰਾਊਂਡ ਚਿੱਤਰ ਜਾਂ UI ਨੂੰ ਬਦਲੋ
Comment[pl]=Zmiana obrazu tła i kolorów interfejsu
Comment[pt]=Alterar a sua imagem de fundo ou as cores da Interface do Utilizador
Comment[pt_BR]=Altere sua imagem de plano de fundo ou as cores da interface
Comment[ro]=Modifică imaginea de fundal sau culorile UI
Comment[ru]=Изменить фоновое изображение или цвета пользовательского интерфейса
Comment[sk]=Zmeniť obrázok vášho pozadia alebo farby používateľského rozhrania
Comment[sl]=Spremeni sliko ozadja aku barve vmesnika
Comment[sr]=Промените слику позадине или боје интерфејса
Comment[sv]=Ändra din bakgrundsbild eller användargränssnittsfärgerna
Comment[th]=เปลี่ยนภาพพื้นหลังหรือสี UI ของคุณ
Comment[tr]=Arka plan görüntüsü veya kullanıcı arayüzü renklerinizi değiştirin
Comment[uk]=Змінити зображення тла або кольори інтерфейсу користувача
Comment[vi]=Thay đổi ảnh nền màn hình hay màu UI của bạn
Comment[zh_CN]=更改您的背景图像或用户界面配色
Comment[zh_TW]=更改背景影像或使用者介面色彩
Comment=Change your background image or the UI colors
Exec=gnome-control-center background
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Settings-appearance-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalizationSettings;
OnlyShowIn=GNOME;
# Translators: Search terms to find the Appearance panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=Background;Wallpaper;Screen;Desktop;Style;Light;Dark;Appearance;Фон;шпалеры;экран;стыль;светлы;цёмны;выгляд;тэма;працоўны стол;
Keywords[bg]=фон;тапет;шарка;десен;екран;работен;плот;стил;светъл;тъмен;стил;външен;вид;background;wallpaper;screen;desktop;style;light;dark;appearance;
Keywords[ca]=Fons;Fons de pantalla;Pantalla;Escriptori;Estil;Clar;Fosc;Aparença;
Keywords[cs]=pozadí;tapeta;obrazovka;plocha;styl;světlý;tmavý;vzhled;
Keywords[da]=Tapet;Baggrund;Skærm;Skrivebord;Stil;Lys;Mørk;Udseende;
Keywords[de]=Background;Wallpaper;Screen;Desktop;Style;Light;Dark;Appearance;Hintergrund;Hintergrundbild;Bildschirm;Schreibtisch;Stil;Hell;Dunkel;Erscheinungsbild;
Keywords[el]=Φόντο;Ταπετσαρία;Οθόνη;Επιφάνεια εργασίας;Στυλ;Φωτεινό;Σκοτειν΄ο;Εμφάνιση;Background;Wallpaper;Screen;Desktop;Style;Light;Dark;Appearance;
Keywords[en_GB]=Background;Wallpaper;Screen;Desktop;Style;Light;Dark;Appearance;
Keywords[es]=Fondo;Pantalla;Escritorio;Estilo;Oscuro;Claro;Estilo;Oscuro;Claro;Apariencia;
Keywords[eu]=Atzeko planoa;Horma-papera;Pantaila;Mahaigaina;Estiloa;Argia;Iluna;Itxura;
Keywords[fa]=Background;Wallpaper;Screen;Desktop;Style;Light;Dark;Appearance;پس‌زمینه;صفحه;رومیزی;کاغذدیواری;میزکار;سبک;روشن;تاریک;تیره;ظاهر;
Keywords[fi]=Background;Wallpaper;Screen;Desktop;Style;Light;Dark;Appearance;Taustakuva;Näyttö;Työpöytä;tyyli;vaalea;tumma;ulkoasu;ulkonäkö;
Keywords[fo]=Baksýni;Bakmynd;Bakgrund;Skíggja;Skíggi;Skriviborð;Stílur;Ljóst;Myrkt;Útsjónd;
Keywords[fr]=Arrière-plan;Papier peint;Écran;Bureau;Style;Clair;Sombre;Apparence;
Keywords[fur]=Fonts;Fondâl;Rivestiment;Schermi;Scritori;Scrivanie;Desktop;Stîl;Clâr;Scûr;Aspiet;
Keywords[gl]=Fondo de pantalla;Pantalla;Escritorio;Estilo;Claro;Escuro;Aparencia;
Keywords[he]=רקע;תמונת רקע;צג;מסך;שולחן עבודה;סגנון;בהיר;כהה;סטייל;מראה;
Keywords[hi]=पृष्ठभूमि;वॉलपेपर;स्क्रीन;डेस्कटॉप;शैली;प्रकाश;गहरा;रूप;
Keywords[hr]=Pozadina;Slika pozadine;Zaslon;Radna površina;Izgled;Svjetlo;Tamno;
Keywords[hu]=Háttér;Háttérkép;Képernyő;Asztal;Stílus;Világos;Sötét;Megjelenés;
Keywords[id]=Latar Belakang; Layar;Destop; Gaya; Terang;Gelap; Penampilan;
Keywords[is]=Bakgrunnur;Bakgrunnsmynd;Skjár;Skjáborð;Stíll;Ljóst;Dökkt;Útlit;
Keywords[it]=Rivestimento;Sfondo;Scrivania;Desktop;Wallpaper;Chiaro;Scuro;Stile;Aspetto;
Keywords[ka]=Background;Wallpaper;Screen;Desktop;Style;Light;Dark;
Keywords[kk]=Background;Wallpaper;Screen;Desktop;Style;Light;Dark;Appearance;Фон;Түсқағаз;Экран;Жұмыс үстелі;Стиль;Ашық түсті;Қараңғы түсті;Сыртқы түрі;
Keywords[ko]=Background;Wallpaper;배경;월페이퍼;Screen;화면;Desktop;바탕 화면;Style;스타일;모양;Light;밝게;Dark;어둡게;다크;Appearance;
Keywords[lt]=Fonas;Ekranas;Darbastalis;Darbalaukis;Stilius;Šviesus;Tamsus;Išvaizda;
Keywords[lv]=Fons;Tapete;Ekrāns;Darbvirsma;Stils;Tumšs;Gaišs;Izskats;
Keywords[my]=နောက်ခံ;နောက်ခံပုံ;ဖန်သားပြင်;ဒက်စ်တော့; ပုံစံ;အလင်း;အမှောင်;အသွင်အပြင်;
Keywords[nb]=Bakgrunnssbilde;Skrivebord;Stil;Utseende;Mørk modus;Lys modus;Farger;Tema;
Keywords[nl]=Background;Wallpaper;Screen;Desktop;Style;Light;Dark;Appearance;Achtergrond;Bureaubladachtergrond;Scherm;Bureaublad;Stijl;Licht;Donker;Weergave;
Keywords[oc]=Papièr pintrat;rèireplan;Fons;Ecran;Burèu;Estil;Clar;Escur;Fosc;Aparéncia;
Keywords[pa]=ਬੈਕਗਰਾਊਂਡ;ਵਾਲਪੇਪਰ;ਸਕਰੀਨ;ਡੈਸਕਟਾਪ;ਕੰਧ-ਚਿੱਤਰ;ਹਲਕਾ;ਗੂੜ੍ਹਾ;ਫਿੱਕਾ;ਪਿਛੋਕੜ;ਕੰਧ-ਚਿੱਤਰ;ਦਿੱਖ;
Keywords[pl]=Tło;Tapeta;Ekran;Pulpit;Styl;Jasny;Ciemny;Wygląd;
Keywords[pt]=Fundo;Papel de parede;Ecrã;Área de trabalho;Estilo;Claro;Escuro;Aparência;
Keywords[pt_BR]=Plano de fundo;Papel de parede;Tela;Área de trabalho;Estilo;Claro;Escuro;Aparência;
Keywords[ro]=Background;Wallpaper;Screen;Desktop;Style;Light;Dark;Appearance;Fundal;Imagine de fundal;Ecran;Stil;Luminos;Întunecat;Aspect;
Keywords[ru]=Фон;Обои;Экран;Рабочий;Стиль;Светлый;Темный;Внешний вид;
Keywords[sk]=Pozadie;Tapeta;Obrazovka;Plocha;Pozadie;Štýl;Svetlý;Tmavý;Vzhľad;
Keywords[sl]=Background;Wallpaper;Screen;Desktop;Style;Light;Dark;Appearance;ozadje;slika ozadja;zaslon;Namizje;Stil;Slog;Temna;Svetla;tema;videz;oblika;
Keywords[sr]=Wallpaper;Screen;Desktop;Style;Light;Dark;Appearance;позадина;екран;радна површ;стил;тамна;светла;pozadina;ekran;radna;povrs;površ;stil;tamna;svetla;
Keywords[sv]=Bakgrundsbild;Wallpaper;Skrivbordsbakgrund;Skärm;Skrivbord;Stil;Ljus;Mörk;Utseende;
Keywords[th]=พื้นหลัง;วอลล์เปเปอร์;หน้าจอ;เดสก์ท็อป;ลักษณะ;สว่าง;มืด;รูปโฉม;
Keywords[tr]=Arka plan;Arkaplan;Duvar kağıdı;Ekran;Masaüstü;Biçim;Biçem;Stil;Aydınlık;Açık;Karanlık;Koyu;Görünüm;Görünüş;
Keywords[uk]=Background;Wallpaper;Screen;Desktop;Style;Light;Dark;Appearance;Тло;Фон;Шпалери;Екран;Стільниця;Стиль;Світлий;Світла;Темний;Темна;Вигляд;
Keywords[vi]=Background;Wallpaper;Ảnh;nền;Anh;nen;Screen;Màn;hình;Man;hinh;Desktop;Style;Light;Dark;Sáng;Sang;Tối;Toi;Appearance;Kiểu;Kieu;
Keywords[zh_CN]=Background;Wallpaper;Screen;Desktop;Style;Light;Dark;Appearance;背景;墙纸;屏幕;桌面;样式;亮色;暗色;夜间模式;外观;个性化;
Keywords[zh_TW]=Background;Wallpaper;Screen;Desktop;Style;Light;Dark;背景;桌布;螢幕;風格;明亮;黑暗;亮色;暗色;深色;淺色;
Keywords=Background;Wallpaper;Screen;Desktop;Style;Light;Dark;Appearance;
