[Desktop Entry]
Name[ab]=Арыдыркыра
Name[am]=የፊደል ሠሌዳ
Name[an]=Teclau
Name[ar]=لوحة المفاتيح
Name[as]=কিবৰ্ড
Name[ast]=Tecláu
Name[az]=Klaviatura
Name[be]=Клавіятура
Name[be@latin]=Klavijatura
Name[bg]=Клавиатура
Name[bn]=কীবোর্ড
Name[br]=Klavier
Name[bs]=Tastatura
Name[ca]=Teclat
Name[crh]=Klavye
Name[cs]=Klávesnice
Name[cy]=Bysellfwrdd
Name[da]=Tastatur
Name[de]=Tastatur
Name[dz]=ལྡེ་སྒྲོམ།
Name[el]=Πληκτρολόγιο
Name[en_CA]=Keyboard
Name[en_GB]=Keyboard
Name[en@shaw]=𐑒𐑰𐑚𐑪𐑮𐑛
Name[eo]=Klavaro
Name[es]=Teclado
Name[et]=Klaviatuur
Name[eu]=Teklatua
Name[fa]=صفحه‌کلید
Name[fi]=Näppäimistö
Name[fo]=Knappaborð
Name[fr]=Clavier
Name[fur]=Tastiere
Name[ga]=Méarchlár
Name[gd]=Meur-chlàr
Name[gl]=Teclado
Name[gu]=કીબોર્ડ
Name[he]=מקלדת
Name[hi]=कीबोर्ड
Name[hr]=Tipkovnica
Name[hu]=Billentyűzet
Name[hy]=Ստեղնաշար
Name[id]=Papan Ketik
Name[ie]=Tastatura
Name[is]=Lyklaborð
Name[it]=Tastiera
Name[ja]=キーボード
Name[ka]=კლავიატურა
Name[kab]=Anasiw
Name[kk]=Пернетақта
Name[km]=ក្ដារចុច
Name[kn]=ಕೀಲಿಮಣೆ
Name[ko]=키보드
Name[ku]=Klavye
Name[ky]=Алиптаката
Name[lt]=Klaviatūra
Name[lv]=Tastatūra
Name[mai]=कुँजीपटल
Name[mg]=Fafan-teny
Name[mk]=Тастатура
Name[mn]=Гар
Name[mr]=कळफलक
Name[my]=ကီးဘုတ်
Name[nb]=Tastatur
Name[nds]=Knöppboord
Name[ne]=कुञ्जीपाटी
Name[nl]=Toetsenbord
Name[nn]=Tastatur
Name[nso]=Boroto ya dinotlelo
Name[oc]=Clavièr
Name[or]=କି-ବୋର୍ଡ
Name[pa]=ਕੀ-ਬੋਰਡ
Name[pl]=Klawiatura
Name[pt]=Teclado
Name[pt_BR]=Teclado
Name[ro]=Tastatură
Name[ru]=Клавиатура
Name[rw]=Mwandikisho
Name[sk]=Klávesnica
Name[sl]=Tipkovnica
Name[sq]=Tastiera
Name[sr]=Тастатура
Name[sr@latin]=Tastatura
Name[sv]=Tan­gent­bord
Name[ta]=விசைப்பலகை
Name[te]=కీబోర్డు
Name[tg]=Клавиатура
Name[th]=แป้นพิมพ์
Name[tr]=Klavye
Name[ug]=ھەرپتاختا
Name[uk]=Клавіатура
Name[uz]=Klaviatura
Name[uz@cyrillic]=Клавиатура
Name[vi]=Bàm phím
Name[wa]=Taprece
Name[xh]=I-keyboard
Name[zh_CN]=键盘
Name[zh_HK]=鍵盤
Name[zh_TW]=鍵盤
Name[zu]=Indawo yokushaya uma ubhala
Name=Keyboard
Comment[be]=Змяненне спалучэнняў клавіш, параметраў набору, клавіятурных раскладак і крыніц уводу
Comment[bg]=Настройки на клавишните комбинации, подредбите, входните методи и другите настройки на клавиатурата
Comment[ca]=Canvieu les dreceres de teclat i establiu les vostres preferències d'escriptura, disposicions de teclat i fonts d'entrada
Comment[cs]=Změnit klávesové zkratky a nastavit předvolby pro psaní, rozložení klávesnice a vstupních zdrojů.
Comment[da]=Ændr tastaturgenveje og indstil dine indtastningspræferencer og -kilder samt tastaturlayout
Comment[de]=Tastenkürzel ändern sowie individuelle Tastaturbelegungen, Tastaturlayouts und Eingabequellen einstellen
Comment[el]=Αλλάξτε συντομεύσεις πληκτρολογίου και ορίστε τις προτιμήσεις πληκτρολόγησης, τις διατάξεις πληκτρολογίου και τις πηγές εισόδου
Comment[en_GB]=Change keyboard shortcuts and set your typing preferences, keyboard layouts and input sources
Comment[eo]=Ŝanĝi klavarajn klavkombinojn kaj agordi viajn tajpajn preferojn, klavarajn aranĝojn kaj enigajn fontojn
Comment[es]=Cambiar los atajos del teclado y establecer sus preferencias de escritura, teclado y fuentes de entrada
Comment[eu]=Aldatu teklatuko lasterbideak eta ezarri idazte-hobespenak, teklatu-diseinuak eta sarrerako iturburuak
Comment[fa]=دگرگونی میان‌برهای صفحه‌کلید و تنظیم ترجیحات نوشتن، چینش‌های صفحه‌کلید و منبع‌های ورودیتان
Comment[fi]=Muuta näppäimistön pikanäppäimiä ja aseta kirjoitusasetuksesi, näppäimistöasettelut ja syötelähteet
Comment[fr]=Modifier les raccourcis clavier et définir vos préférences de saisie, dispositions de clavier et sources de saisie
Comment[fur]=Cambie lis scurtis di tastiere e stabilìs lis preferencis di digjitazion, disposizions di tastiere e sorzints input
Comment[gl]=Cambie os atallos do teclado e estabeleza as preferencias de escritura, disposicións de teclado ou fontes de entrada
Comment[he]=החלפת קיצורי המקשים שלך והגדרת העדפות ההקלדה, פריסות המקלדת ומקורות הקלט
Comment[hi]=कीबोर्ड शॉर्टकट बदलें और अपनी टाइपिंग प्राथमिकताएं, कीबोर्ड अभिन्यास और इनपुट स्रोत निर्धारित करें
Comment[hr]=Promijenite prečace tipkovnice i postavite osobitosti tipkanja, raspored tipkovnice i izvore unosa
Comment[hu]=Gyorsbillentyűk megváltoztatása és gépelési beállítások megadása, billentyűzetkiosztások és bemeneti források
Comment[id]=Ubah pintasan papan tik dan atur preferensi pengetikan, tata letak papan tik, dan sumber masukan
Comment[is]=Breyta flýtileiðum á lyklaborði og setja valkosti við stafainnsetningu, lyklaborðsframsetningu og inntaksleiðir
Comment[it]=Modifica le scorciatoie da tastiera e imposta le preferenze di digitazione, disposizioni della tastiera e sorgenti di input
Comment[ja]=キーボードショートカットや入力設定 (キーボードレイアウトや入力ソース) の変更を行います
Comment[ka]=შეცვალეთ კლავიატურის მალსახმობები და დააყენეთ თქვენი კრეფის პარამეტრები, კლავიატურის განლაგებები და შეყვანის წყაროები
Comment[kk]=Пернетақта жарлықтарын өзгерту және теру баптауларын, пернетақта жаймаларын және кіріс қайнар көздерін орнату
Comment[ko]=키보드 바로 가기를 바꾸고 키보드 타이핑, 키보드 배치, 입력 소스를 설정합니다.
Comment[lt]=Keisti klaviatūros trumpinius bei nustatyti rašymo nuostatas, klaviatūrų išdėstymus bei įvesties šaltinius
Comment[lv]=Mainiet tastatūras īsinājumtaustiņus un izvēlieties savus rakstīšanas iestatījumus, tastatūras izkārtojumus un ievades avotus
Comment[my]=ကီးဘုတ်အမြန်ခလုတ်များကိုပြောင်းပြီး သင်၏စာရိုက်စိတ်ကြိုက်ရွေးချယ်မှုများ၊ ကီးဘုတ်အပြင်အဆင်များနှင့် ထည့်သွင်းမှုရင်းမြစ်များကို သတ်မှတ်ပါ။
Comment[nb]=Endre tastatursnarveier, velg tastaturoppsett og sett opp inndatakilder
Comment[ne]=कुञ्जीपाटी सर्टकट परिवर्तन गर्नुहोस् र तपाईँको टाइपिङ प्राथमिकता, कुञ्जीपाटी सजावट र आगत स्रोत सेट गर्नुहोस्
Comment[nl]=Wijzig uw sneltoetsen bekijken en stel uw typvoorkeuren, toetsenbordindelingen en invoerbronnen in
Comment[oc]=Codificar los acorchis de clavièr e definir vòstras preferéncias de picada, agençament de clavièr e fonts d’entrada
Comment[pa]=ਕੀਬੋਰਡ ਸ਼ਾਰਟਕੱਟ ਵੇਖੋ ਤੇ ਬਦਲੋ ਅਤੇ ਆਪਣੀ ਟਾਈਪ ਕਰਨ ਲਈ ਪਸੰਦ ਦਿਓ, ਕੀਬੋਰਡ ਖਾਕੇ ਅਤੇ ਇਨਪੁੱਟ ਢੰਗ
Comment[pl]=Zmiana skrótów klawiszowych oraz ustawianie preferencji pisania, układów klawiatury i źródeł wprowadzania
Comment[pt]=Alterar teclas de atalho e definir as suas preferências de escrita, esquemas de teclado e fontes de entrada
Comment[pt_BR]=Altere os atalhos de teclado e defina suas preferências de digitação, disposições de teclado e fontes de entrada
Comment[ro]=Modificați scurtăturile de tastatură și configurați preferințele de tastare, aranjamentele de tastatură și sursele de intrare
Comment[ru]=Просмотр и изменение комбинаций клавиш, а также настройка ввода, раскладок клавиатуры и источников ввода
Comment[sk]=Mení klávesové skratky a nastavuje vaše predvoľby písania, rozložení klávesnice a zdroje vstupu
Comment[sl]=Prilagajanje tipkovnih bližnjic, nastavite možnosti tipkanja, razporeditve in vhodni viri
Comment[sr]=Промените пречице тастатуре и подесите ваше поставке куцања, распореде тастатуре и изворе улаза
Comment[sv]=Ändra tangentbordsgenvägar och konfigurera dina skrivinställningar, tangentbordslayouter och inmatningskällor
Comment[th]=เปลี่ยนปุ่มลัดและปรับแต่งการพิมพ์ข้อความ ผังแป้นพิมพ์ และช่องทางป้อนข้อความของคุณ
Comment[tr]=Klavye kısayollarını, klavye düzenlerini, girdi kaynaklarını değiştirin ve yazım tercihlerinizi belirleyin
Comment[uk]=Змінити клавіатурні скорочення і вказати параметри введення, розкладки клавіатури та джерела введення даних
Comment[vi]=Thay đổi phím tắt và đặt tùy thích cách bạn gõ, bố cục bàn phín và nguồn nhập liệu
Comment[zh_CN]=更改键盘快捷键并设置您的输入首选项、键盘布局和输入源
Comment[zh_TW]=更改鍵盤快捷鍵，並設定您的輸入偏好設定、鍵盤配置、輸入來源等
Comment=Change keyboard shortcuts and set your typing preferences, keyboard layouts and input sources
Exec=gnome-control-center keyboard
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Settings-keyboard-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;X-GNOME-DevicesSettings;
OnlyShowIn=GNOME;Unity;
# Translators: Search terms to find the Keyboard panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;Hotkey;Скарот;Спалучэнне;клавішы;Працоўная;Прастора;Акно;Памер;Маштаб;Кантраснасць;Увод;Крыніца;Блакіроўка;Блакіраваць;Гучнасць;Сімвал;Знак;
Keywords[bg]=клавишни;комбинации;бързи;работно;място;плот;прозорец;преоразмеряване;увеличение;мащабиране;контраст;вход;източник;заключване;сила;звук;shortcut;workspace;window;resize;zoom;contrast;input;source;lock;volume;
Keywords[ca]=Drecera;Espai de treball;Finestra;Canvia la mida;Amplia;Contrast;Entrada;Font;Bloqueig;Volum;Tecla d'accés;Composa;Caràcter;
Keywords[cs]=klávesová zkratka;zkratka;pracovní plocha;okno;změnit velikost;změna velikosti;přiblížit;přiblížení;zvětšit;zmenšit;kontrast;vstup;zdroj;zámek;zamknout;hlasitost;napsat;znak;
Keywords[da]=Genvej;Arbejdsområde;Vindue;Størrelse;Zoom;Kontrast;Input;Inddata;Kilde;Lås;Volumen;Lydstyrke;Genvejstast;Sammensæt;Tegn;
Keywords[de]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;Hotkey;Compose;Character;Kürzel;Arbeitsfläche;Fenster;Vergrößern;Verkleinern;Kontrast;Eingabe;Quelle;Sperren;Lautstärke;Tastenkürzel;Zeichen;
Keywords[el]=Συντόμευση;Χώρος εργασίας;Παράθυρο;Αλλαγή μεγέθους;Εστίαση;Αντίθεση;Εισαγωγή;Πηγή;Κλείδωμα;Τόμος;Hotkey;Σύνθεση;Χαρακτήρας;Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;Hotkey;Compose;Character;
Keywords[en_GB]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;Hotkey;Compose;Character;
Keywords[eo]=Klavkombino;Laborspaco;Fenestro;Aligrandigi;Zomi;Kontrasto;Enigo;Fonto;Ŝlosi;Laŭteco;Fulmoklavo;Komponi;Signo;
Keywords[es]=Atajo;Área;trabajo;Ventana:Redimensionar;Ampliación;Contraste;Entrada;Fuente;Bloqueo;Volumen;tecla;rápida;Compositor;Carácter;
Keywords[eu]=Lasterbidea;Laneko area;Leihoa;Tamaina aldatzea;Zooma;Kontrastea;Sarrera;Iturburua;Blokeatu;Bolumena;Laster-tekla;Compose;
Keywords[fa]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;Hotkey;Compose;Character;میانبر;میان‌بر;فضای کاری;پنجره;اندازه;بزرگ‌نمایی;تضاد;ورودی;منبع;قفل;صدا;
Keywords[fi]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;Hotkey;Compose;Character;pikanäppäin;työtila;ikkuna;muuta kokoa;lähennä;syöte;lähde;kontrasti;suurennus;lukitus;merkki;
Keywords[fr]=Raccourci;Espace de travail;Fenêtre;Redimensionner;Zoom;Contraste;Saisie;Source;Verrouiller;Verrouillage;Volume;Raccourci clavier;Compose;Caractère;
Keywords[fur]=Scurte;Spazi di lavôr;Barcon;Ridimensione;Cambiâ dimension;Ingrandiment;Contrast;Input;Jentrade;Sorzint;Bloche;Volum;Hotkey;Tast rapit;Compon;Caratar;
Keywords[gl]=Atallo;Espazo de traballo;Xanela;Redimensionar;Zoom;Contraste;Entrada;Orixe;Bloqueo;Volume;Atallo;Composición;Caracter;
Keywords[he]=צירופי מקשים;קיצורי מקשים;מרחב עבודה;חלון;חלונות;שינוי גודל;הגדלה;ניגודיות;קלט;מקור;נעילה;עצמה;מקש חם;Compose;תו;
Keywords[hi]=शॉर्टकट;कार्यस्थान;विंडो;आकार बदलें;जूम;वैषम्य;इनपुट;स्रोत;लॉक;आवाज़;हॉटकी;लिखें;वर्ण;
Keywords[hu]=Gyorsbillentyű;Munkaterület;Ablak;Átméretezés;Nagyítás;Kontraszt;Bemenet;Forrás;Zárolás;Kötet;Hívóbetű;Írás;Karakter;
Keywords[id]=Pintasan;Ruang Kerja;Jendela;Ubah Ukuran;Zum;Kontras;Masukan;Sumber;Kunci;Volume;Tombol Pintas;Compose;Karakter;
Keywords[it]=Scorciatoia;Spazio;Lavoro;Finestra;Ridimensiona;Ingrandimento;Zoom;Contrasto;Input;Ingresso;Immissione;Sorgente;Blocco;Volume;Hotkey;Componi;Composizione;Carattere;
Keywords[ka]=მალსახმობი;სამუშაო სივრცე;ფანჯარა;Resize;გადიდება;კონტრასტი;Input;Source;Lock;Volume;Hotkey;Compose;Character;
Keywords[kk]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;Hotkey;Compose;Character;Жарлық;Жұмыс орны;Терезе;Өлшемді өзгерту;Масштаб;Контраст;Енгізу;Қайнар көзі;Блоктау;Дыбыс;Ыстық перне;Кешенді теру;Таңба;
Keywords[ko]=Shortcut;바로;가기;단축키;Workspace;작업;공간;Window;창;윈도우;Resize;Zoom;크기;조정;줌;Contrast;대비;고대비;Input;입력;Source;Lock;잠금;잠그기;Volume;볼륨;소리;음량;Hotkey;핫키;Compose;조합;Character;문자;
Keywords[lt]=Trumpinys;Darbo sritis;Langas;Dydžio keitimas;Mastelis;Kontrastas;Įvestis;Šaltinis;Rakinimas;Garsas;Karštasis klavišas;Rašymas;Simbolis;
Keywords[lv]=Saīsne;Darbvieta;Logs;Mainīt izmēru;Tuvināt;Tālināt;Mērogs;Kontrasts;Ievade;Avots;Bloķēšana;Skaļums;Īsinājumtaustiņš;Komponēt;Rakstzīme;
Keywords[my]=ဖြတ်လမ်း;အလုပ်နေရာ;ဝင်းဒိုး;အရွယ်အစား;မြင်ကွင်းချဲ့;ခြားနားချက်;ထည့်သွင်းရန်;အရင်းအမြစ်;လော့ခ်ချရန်;အသံအတိုးအကျယ်;ဟော့ကီး;Compose;ကာရိုက်တာ;
Keywords[nb]=Snarvei;Område;Vindu;Tastatur;Forstørr;Kontrast;Inndata;Kilde;Lås;Volum;Lydnivå;Skriv;Tegn;Oppsett;Komposisjon;
Keywords[nl]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;Hotkey;Compose;Character;sneltoets;werkblad;werkruimte;venster;vergrendelen;herschalen;zoomen;vergroten;verkleinen;invoer;bron;vergrendelen;samenstellen;opstellen;teken;karakter;
Keywords[oc]=Acorchi;Espaci de trabalh;Fenèstra;Redimensionar;Zoom;Contraste;Entrada;Picada;Verrolhar;Volum;Abracar;Accelarator;Caractèrs;
Keywords[pa]=ਸ਼ਾਰਟਕੱਟ;ਵਰਕਸਪੇਸ;ਵਿੰਡੋ;ਮੁੜ-ਆਕਾਰ;ਰੀਸਾਈਜ਼;ਜ਼ੂਮ;ਕਨਟਰਾਸਟ;ਇਨਪੁੱਟ;ਸਰੋਤ;ਲਾਕ;ਵਾਲੀਅਮ;ਹਾਟਕੀ;ਲਿਖੋ;ਕੰਪੋਜ਼;ਅੱਖਰ;
Keywords[pl]=Skrót;Skróty;Obszar;roboczy;Okno;Zmień;rozmiar;Zmiana;rozmiaru;Powiększanie;Przybliżanie;Zoom;Kontrast;Źródło;wprowadzania;Blokada;Zablokuj;Głośność;Hotkey;Compose;Znak;Znaki;Znaków;
Keywords[pt]=Atalho;Área de trabalho;Janela;Redimensionar;Zoom;Ampliar;Contraste;Entrada;Inserir;Fonte;Bloquear;Volume;Trancar;Tecla de atalho;Compositor;Compor;Carácter;
Keywords[pt_BR]=Atalho;Área de Trabalho;Janela;Redimensionar;Zoom;Contraste;Entrada;Fonte;Bloquear;Volume;Tecla de atalho;Compositor;Caractere;
Keywords[ro]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;Hotkey;Compose;Character;Scurtătură;Spațiu de lucru;Fereastră;Redimensionează;Focalizează;Intrare;Sursă;Blochează;Volum;Tastă rapidă;Compune;Caracter;
Keywords[ru]=Комбинация;Рабочий;стол;Окно;Изменение;размера;Масштабирование;Контраст;Ввод;Источник;Блокировка;Том;Горячая;клавиша;Написать;Символ;
Keywords[sk]=odkaz;skratka;pracovný;priestor;okno;zmena;veľkosti;lupa;priblíženie;kontrast;vstup;vstupný;zdroj;zámok;uzamknutie;hlasitosť;kláves;napísať;znak;
Keywords[sl]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;Hotkey;tipkovna bližnjica;delovna površina;okno;prilagoditev;velikost;kontrast;približanje;vir;zaklep;glasnost;jakost;znak;sestavi;
Keywords[sr]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;Hotkey;Compose;Character;пречица;радни простор;прозор;промени величину;зум;контраст;улаз;извор;закључај;волумен;тастер;састављање;знак;prečica;radni prostor;prozor;promeni veličinu;zum;kontrast;ulaz;izvor;zaključaj;volumen;taster;sastavljanje;znak
Keywords[sv]=Genväg;Arbetsyta;Fönster;Storleksändring;Zoom;Kontrast;Inmatning;Källa;Lås;Volym;Hotkey;Snabbtangent;Compose;Tecken;
Keywords[th]=ปุ่มลัด;พื้นที่ทำงาน;หน้าต่าง;ปรับขนาด;ย่อ-ขยาย;ซูม;สีตัดกัน;ป้อนเข้า;แหล่ง;ล็อก;ระดับเสียง;ปุ่มด่วน;อักขระ;
Keywords[tr]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;Hotkey;Compose;Character;Kısayol;Çalışma alanı;Pencere;Yeniden boyutlandır;Yakınlaşma;Karşıtlık;Girdi;Kaynak;Kilit;Ses;Kısayol tuşu;Kestirme tuşu;Geçiş tuşu;Hotkey;Compose;Karakter;Birleşim;Bileşim;Birleştirme;Bileştirme;
Keywords[uk]=Комбінація;Робоча область;Вікно;Зміна розміру;Масштаб;Контраст;Введення;Джерело;Блокування;Том;скорочення;композиція;символ;Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;Hotkey;Compose;Character;
Keywords[vi]=Shortcut;phím tắt;phim tat;Workspace;không gian làm việc;khong gian làm viec;Window;cửa sổ;cua so;Resize;đổi cỡ;doi co;Zoom;phóng to;phong to;Contrast;tương phản;tuong phan;Input;Đầu vào;Dau vao;Source;nguồn;nguon;Lock;khóa;khoa;Volume;âm lượng;am luong;Hotkey;Phím nóng;Phim nong;Compose;Character;ký tự;ky tu;
Keywords[zh_CN]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;Hotkey;Compose;Character;快捷键;工作空间;窗口;更改大小;缩放;对比度;输入;源;锁定;音量;热键;合成器;字符;
Keywords[zh_TW]=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;Hotkey;Compose;Character;快捷鍵;快捷鍵;工作區;視窗;重新調整大小;縮放;拉遠;拉近;遠近;對比;反差;輸入;來源;輸入法;鎖定;上鎖;音量;熱鍵;字元;
Keywords=Shortcut;Workspace;Window;Resize;Zoom;Contrast;Input;Source;Lock;Volume;Hotkey;Compose;Character;
