[Desktop Entry]
Name=HyprWall
Comment=GUI for setting wallpapers with Hyprpaper, written in blazingly fast Rust!
Exec=/usr/bin/hyprwall
Icon=hyprwall
Type=Application
Terminal=false
Categories=Utility;
