:vars {

    --background:   #07070B;
    --foreground:   #AEAEB2;

    --color0:       #38373B;
    --color1:       #4D4B56;
    --color2:       #93795B;
    --color3:       #477E95;
    --color4:       #B4637A;
    --color5:       #DF8E5E;
    --color6:       #D0CDE4;
    --color7:       #848389;
    --color8:       #5C5B60;
    --color9:       #4D4B56;
    --color10:      #93795B;
    --color11:      #477E95;
    --color12:      #B4637A;
    --color13:      #DF8E5E;
    --color14:      #D0CDE4;
    --color15:      #848389;

    --window-bg: alpha(var(--background), 0.6);
    --module-bg: alpha(var(--background), 0.4);
    --border-color: var(--color11);
    --ws-active: var(--color9);
    --ws-inactive: var(--color3);
    --ws-empty: var(--color8);
    --ws-hover: var(--color1);
    --ws-urgent: var(--color12);

}
