:vars {

    --background:   #130D05;
    --foreground:   #B2A9A7;

    --color0:       #3B3129;
    --color1:       #54413E;
    --color2:       #4C5045;
    --color3:       #6B5C48;
    --color4:       #8C503E;
    --color5:       #C75E38;
    --color6:       #D9A473;
    --color7:       #887C7A;
    --color8:       #5F5655;
    --color9:       #54413E;
    --color10:      #4C5045;
    --color11:      #6B5C48;
    --color12:      #8C503E;
    --color13:      #C75E38;
    --color14:      #D9A473;
    --color15:      #887C7A;

    --window-bg: alpha(var(--background), 0.6);
    --module-bg: alpha(var(--background), 0.4);
    --border-color: var(--color11);
    --ws-active: var(--color9);
    --ws-inactive: var(--color3);
    --ws-empty: var(--color8);
    --ws-hover: var(--color1);
    --ws-urgent: var(--color12);

}
