:vars {
    --background: #070709;
    --foreground: #ffffff;
    --color0: #070709;
    --color1: #1f1f36;
    --color2: #53556e;
    --color3: #595c78;
    --color4: #716c7a;
    --color5: #76767f;
    --color6: #79878d;
    --color7: #fcf0ff;
    --color8: #202029;
    --color9: #262643;
    --color10: #676a89;
    --color11: #6f7396;
    --color12: #8d8798;
    --color13: #93939e;
    --color14: #97a8b0;
    --color15: #ffffff;
    --window-bg: alpha(var(--background), 0.6);
    --module-bg: alpha(var(--background), 0.4);
    --border-color: var(--color11);
    --ws-active: var(--color9);
    --ws-inactive: var(--color3);
    --ws-empty: var(--color8);
    --ws-hover: var(--color1);
    --ws-urgent: var(--color12);
}