/* ------------------ */
/* --- Custom CSS --- */
/* ------------------ */

/* --- EXAMPLE: Override Theme Colors --- */

/* The main accent color and the matching text value */
@define-color accent_color 144, 213, 173;
@define-color accent_fg_color 0, 33, 18;
@define-color accent_bg_color 144, 213, 173;

/* Window */
@define-color window_bg_color 15, 21, 17;
@define-color window_fg_color 223, 228, 221;

:root {
    --adw-accent-bg-rgb: @accent_bg_color;
    --adw-accent-fg-rgb: @accent_fg_color;
    --adw-accent-rgb: @accent_color;

    /* Window */
	--adw-window-bg-rgb: @window_bg_color;
	--adw-window-fg-rgb: @window_fg_color;
}
