/* ------------------ */
/* --- Custom CSS --- */
/* ------------------ */

/* --- EXAMPLE: Override Theme Colors --- */

/* The main accent color and the matching text value */
@define-color accent_color 128, 212, 219;
@define-color accent_fg_color 0, 32, 34;
@define-color accent_bg_color 128, 212, 219;

/* Window */
@define-color window_bg_color 14, 20, 21;
@define-color window_fg_color 221, 228, 228;

:root {
    --adw-accent-bg-rgb: @accent_bg_color;
    --adw-accent-fg-rgb: @accent_fg_color;
    --adw-accent-rgb: @accent_color;

    /* Window */
	--adw-window-bg-rgb: @window_bg_color;
	--adw-window-fg-rgb: @window_fg_color;
}
