/* ------------------ */
/* --- Custom CSS --- */
/* ------------------ */

/* --- EXAMPLE: Override Theme Colors --- */

/* The main accent color and the matching text value */
@define-color accent_color 184, 196, 255;
@define-color accent_fg_color 6, 22, 75;
@define-color accent_bg_color 184, 196, 255;

/* Window */
@define-color window_bg_color 18, 19, 24;
@define-color window_fg_color 227, 225, 233;

:root {
    --adw-accent-bg-rgb: @accent_bg_color;
    --adw-accent-fg-rgb: @accent_fg_color;
    --adw-accent-rgb: @accent_color;

    /* Window */
	--adw-window-bg-rgb: @window_bg_color;
	--adw-window-fg-rgb: @window_fg_color;
}
