@import 'waybar-colors.css';

/* Colores: transparent

*/

@define-color white                   #CDD0D5;
@define-color muted                   #D15798;
@define-color pink                    #e5809e;

@define-color hover                   @color1;
@define-color active                  @color11;
@define-color background-color        @color12;

@define-color transparent   rgba(0, 0, 0, 0.3);

@define-color cyan          rgba(53, 140, 169, 1);

@define-color teal-trans    rgba(1, 117, 84, 0.5);


* {																
	border: none;
	border-radius: 0.2em 0.2em 0.2em 0.2em;
	min-height: 0px;
	font-family: "Mononoki Nerd Font";
    font-size: 16px; 
    font-weight: bold;
    text-shadow: 1px 1px black;
    /*margin: 0.1em 0.3em 0.1em 0.3em;	*/


}
/*
'*': Configuración general.
'border: none;': Elimina cualquier borde del elemento, no habra lineas alrededor visibles.
'border-radius: 0.2em 0.2em 0.2em 0.2em;': Define el radio de las esquinas en cada punta.
'min-height: 0px;':	Establece la altura mínima del elemento. 
'margin: 0.1em 0.3em 0.1em 0.3em;': Establece los márgenes alrededor del elemento, su orden; arriba, derecha, abajo, izquiera. 
*/

/*window#waybar.modules-center { margin: 2px; paddding: 2px; padding-left: 10; padding-right: 10; border-radius: 1.0rem; transition: none; color: #181c27; background-color: #df0107;}
*/



window#waybar>box {
    margin: 0.2em 0em 0.2em 0em;
    padding: 0;
}
/* https://github.com/Alexays/Waybar/issues/1533 */

window#waybar {
	background-color: @transparent;						
	transition-property: background-color;
  border-bottom: 1px solid @color12;
	transition-duration: .5s;
  padding:34px;
  margin: 0em 5em 45em 0em;
  margin-right: 5px;
}
/* 
'window#waybar': Esta parte configura la barra de forma general.
'background-color: <COLOR>;': Da el color del fondo de la barra, solo da el color de la barra. ejem: transparent.
'background: transparent;': Abrevia multiples propiedades del fondo (color, texto, imagen, etc.
'font-family: "Mononoki";': Establece la fuente dentro del elemento.
'font-size: 12px;': Define el tamaño de la fuente, lo que afecta la altura del texto dentro del elemento.
*/




tooltip {
	background: @color0;
	color: white;
	border-width: 0px;
}
/*
'tooltip': Configura los cuadros de texto al descansar el puntero.
'background: cyan;': Establece  el color del fondo.
'color: cyan;': Establece el color de lo que esta dentro del cuadro, en este caso, letras.
'border-width: 0px;': 
*/


/* _________ Configuraciones generales _________ */
#custom-pacman,
#custom-dunst,
#mpris,
#window,
#custom-swaync,
#taskbar,
#tray,
#pulseaudio,
#clock {
    padding-left: 0.6em;
    padding-right: 0.6em;
    margin: 0.1em 0.3em 0.1em 0.3em;	
}
/*
Establece la configuracion de estilos de varios modulos.
'padding-left: 0.6em;': Agrega espacio dentro de los bottons.
'padding-right: 0.6em;': Agrega espacio dentro de los bottons.
*/

/* _________ Condiguración de modulos _________ */

/* Workspaces */

#workspaces{
background: rgba(23, 23, 23, 0.0);
    color: @color1;
    box-shadow: none;
	text-shadow: none;
    border-radius: 9px;
    transition: 0.2s ease;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    margin: 0em 0.3em 0em 0.3em;
}


#workspaces button {
background: rgba(23, 23, 23, 0.0);
    color: #A1BDCE;
    box-shadow: none;
	text-shadow: none;
    border-radius: 9px;
    transition: 0.2s ease;
    padding-left: 4px;
    padding-right: 4px;
 /*   animation: ws_normal 20s ease-in-out 1; */

}



#workspaces button.active {

 
  /* background-image: url("/home/anik/Documents/bar1.png");*/
    color: @active;   
    transition: all 0.3s ease;
    padding-left: 4px;
    padding-right: 4px;
  /*  transition: all 0.4s cubic-bezier(.55,0.68,.48,1.682); */
}

#workspaces button:hover {
    background: none;
    color: @hover;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.urgent {
    color: #a1b;   
    transition: all 0.3s ease;
    padding-left: 4px;
    padding-right: 4px;
}


/*
'#workspaces button': Workspaces no vacios; son los workspaces que poseen ventanas pero no están seleccionados.
'font-weight: bold;': Le da más gruesor a las fuentes. 
'padding: 0;': Ajusta el tamaño de los bottons, o fondo. 
'transition: all 5s ease;': Animación o transición, de cambio de color. 
'opacity: 0.3;': Ajusta lo opaco. 
'background-color: rgba(0, 0, 0, 0);': Cambia el color del fondo. 
'text-shadow: none;': 
'box-shadow: none;': Agrega una linea debajo del número. Es mejor usar box-shadow, en lugar de border para que el texto no este desplazado. 
'color: @color7;': Color del número o icono. 
'font-size: 1em;':
'box-shadow: inset 0 -4px @color15;': Agrega una linea debajo del número. Es mejor usar box-shadow, en lugar de border para que el texto no este desplazado. 
*/


/*
Referencias: https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect
'#workspaces button:hover': Configuracion de los estilos de un objeto cuando el mouse pasa sobre ellos.
transition-duration: .1s;
color: @cyan;
box-shadow: inset 0 -2px @color15;
text-shadow: inherit;
*/









/* Aca va el formato de los separadores. */
#custom-separador {
    color: @white;					/* Color del font.  */
    background: @background;		/* Color del fondo. */
    font-size: 5px;				/* Tamaño del font. */
    margin-bottom: -2px;			/* Espaciado abajo, -2 para centrar. */
	/*padding-left: 1px;*/				/* Espaciado izquierdo. */
	/*padding-right: 1px;*/				/* Espaciado derecha. */
	
}





#taskbar button {
	box-shadow: none;
	text-shadow: none;
	padding: 0;
	color: @white;
	animation: tb_normal 20s ease-in-out 1;
	background: transparent;
  margin: 0em 0.3em 0em 0.3em;
}
/*
'#taskbar button': Establece la configuracion general de taskbar.
*/

#taskbar button.active {
	color: @white;
  background: @background-color;
	padding: 0;	
  animation: tb_active 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  margin: 0em 0.3em 0em 0.3em;
}

#taskbar button:hover {
	background: rgba(0, 0, 0, 0.2);
	color: @color15;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
     margin: 0em 0.3em 0em 0.3em;
}
/*
'#taskbar button:hover': Configuracion de los estilos de un objeto cuando el mouse pasa sobre ellos.
*/

#pulseaudio.muted {
	color: @muted;
}
#pulseaudio-microphone.muted {
	color: @muted;
}

/* Diseño mío. */



/* Clock */

#clock {
	padding: 0 10pt;
	background: @color12;
    color: @white;
  
}
/*
Configuración del modulo clock.
'padding-top: 0.3em;': Mueve el contenido hacia arriba.
'background: @color1;': Da el color del fondo.
'color: @color15;': Establece el color del font.
*/

#clock.date {
    background: @white;
}

#clock.time {
    background: @white;
}

/* Pulseaudio */

#pulseaudio {
	background: @color12;
    color: @white;
}

/* Tray */

#tray {
    background: @color12;
	color: @white
}

#tray menu {
	background: @color11;
}
/*
'#tray menu': Estiliza el menu en si.
'background: @color11;': Cambia el color del fondo de los menus.
*/ 

#tray menu * {
    min-height: 15px
}
/*
'#tray menu *': Configura los menus en los tray.
'min-height: 15px': Establece el tamaño de los menus en los tray.
*/

#tray menu separator {
    min-height: 5px
}
/*
'#tray menu separator': Configura los separadores de los tray.
'min-height: 5px': Establece el tamaño de los separadores de los menus en los tray.
*/

/* hyprland/window */

#window {
	margin-right: 20px;
	margin-left: 60px;
	background: none;
}
/*
'#window': Configuración del modulo hyprland/window.
'margin-right: 10px;': Agrega un margen hacia la derecha.
'margin-left: 10px;': Agrega un margen hacia la izquierda.
*/

window#waybar.hidden {
	opacity: 0.2;
	background: @muted;
}

/* MPRIS */

#mpris {
	background: @color12;
	color: @white;
}
/*
'#mpris': Configuración del modulo MPRIS.
'background: @color12;': Cambia el color del fondo del botton.
'color: @color0;': Cambia el color de los fonts.
'padding: 0 15pt;': Cambia el tamaño de altura y grosor.
*/
  
#custom-mpris {
	padding: 10px;
}

#custom-pacman {
    padding: 0 0.6em;
	  background: @color12;
    color: @white;
    font-weight: bold;
}

#custom-power {
    
    color: @color12;
    background-color: @color7;
    border-radius: 0px 0em 0px 24px;
    margin: 0px 0px 0px 0px;
    padding: 0 20 0 20;
    margin: -0.2em 0em -0.3em 0.3em;
    font-size: 20;


}

#custom-launcher {
    color: @color7;
    background-color: @color12;
    border-radius: 0px 24px 0px 0px;
    margin: -0.2em 0.3em -0.3em 0em;
    padding: 0 20px 0 13px;
    font-size: 20px;
}

#custom-launcher button:hover {
    background-color: @red;
    color: transparent;
    border-radius: 8px;
    margin-right: -5px;
    margin-left: 10px;
}

#custom-hyprpicker {
    background-color: #282828;
    /*color: #8EC07C;*/
    border-radius: 20px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 11px 0px 9px;
    font-weight: bold;
}

#custom-swaync {
    color: @foreground;
    padding: 0px 10px 0px 10px;
    background-color: @background;
    border-radius: 10px;
    margin: 4px 2px 0 2px;
}

#custom-swaync {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#custom-swaync {
    color: @color12;
}